body, html {
    height: 100%;
    margin: 0;
    background-color: #2A4D69; /* More blue background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px; /* General padding */
}

@media (max-width: 768px) {
    body {
        padding: 10px 20px; /* Adjusted padding for smaller screens */
    }
}

#camera-stream {
    max-width: 100%; /* Ensures the stream scales correctly */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Changes display to block */
    margin-bottom: 20px; /* Adds padding below the camera stream */
}

.title-bar {
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

button {
    width: 100px; /* Square buttons */
    height: 100px;
    border: none;
    background-color: #4B7B9F; /* Complementary blue */
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 5px; /* Slightly rounded corners for a modern look */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #396A8F; /* Darker shade on hover */
}

.fas {
    pointer-events: none; /* Prevent icon from capturing clicks */
    color: #FFD700; /* Gold-yellow color for icons */
}
