body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    /* Adjust the width and padding as needed */
    padding: 20px;
    /* Optional: add more styling here */
}

button {
    /* Optional: Style your buttons */
    padding: 10px;
    cursor: pointer;
}
